port: {{ port }}
host: 127.0.0.1
publicDomain: "{{ public_domain }}"

database:
  path: "{{ data_dir }}/sqlite.db"

storage:
  backend: {{ storage_backend }}
  local:
    dir: "{{ data_dir }}/blobs"
  s3:
    endpoint: "{{ s3_endpoint }}"
    bucket: "{{ s3_bucket }}"
    accessKey: "{{ s3_access_key }}"
    secretKey: "{{ s3_secret_key }}"
    region: "{{ s3_region }}"
    tmpDir: "{{ data_dir }}/s3-tmp"

upload:
  enabled: true
  requireAuth: {{ upload_require_auth }}
  maxSize: {{ max_upload_size }}
  workers: 0

mirror:
  enabled: true
  requireAuth: {{ mirror_require_auth }}

delete:
  requireAuth: {{ delete_require_auth }}

list:
  enabled: false
  requireAuth: {{ list_require_auth }}

media:
  enabled: false
  requireAuth: {{ media_require_auth }}
  maxSize: {{ media_max_upload_size }}
  tmpDir: "{{ data_dir }}/media-tmp"

  image:
    quality: {{ media_image_quality }}
    progressive: {{ media_image_progressive }}
    maxWidth: {{ media_image_max_width }}
    maxHeight: {{ media_image_max_height }}
    outputFormat: {{ media_image_output_format }}
    maintainAspectRatio: {{ media_image_maintain_aspect_ratio }}
    keepExif: {{ media_image_keep_exif }}
    fps: {{ media_image_fps }}

  video:
    quality: {{ media_video_quality }}
    maxHeight: {{ media_video_max_height }}
    maxFps: {{ media_video_max_fps }}
    format: {{ media_video_format }}
    videoCodec: {{ media_video_codec }}
    audioCodec: {{ media_audio_codec }}

report:
  enabled: true

landing:
  enabled: true
  title: "{{ app }}"

dashboard:
  enabled: {{ dashboard_enabled }}
  username: "{{ admin }}"
  password: "{{ dashboard_password }}"
  lookupRelays:
    - wss://purplepag.es
    - wss://relay.nostr.band
